@{
    ViewData["Title"] = "Notificação";
}
<h1>@ViewData["Title"]</h1>

<div class="container px-4">
    <hr />
    <h4 class="ntitle">Dados Gerais</h4>
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Selecione um agravo</strong></label>

                <select class="form-select">
                    <option selected>Agravo</option>
                    <option value="1">Dengue/Chikungunya</option>
                </select>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Data da notificação</strong></label>
                <br />
                <input class="US" type="datetime-local">
            </div>
        </div>
        <br />
    </div>
    <br />
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Unidade de Saúde (ou outra fonte notificadora)</strong></label>
                <br />
                <input class="US" type="text">
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Data dos primeiros sintomas</strong></label>
                <br />
                <input class="US" type="datetime-local">
            </div>
        </div>
    </div>
    <hr />
    <h4 class="ntitle">Notificação Individual</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Nome do Paciente</strong></label>
                <br />
                <input class="US" type="text" />

            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Data de Nascimento</strong></label>
                <br />
                <input type="datetime-local">
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Sexo</strong></label>

                <select class="form-select">
                    <option selected>Sexo</option>
                    <option value="1">Masculino</option>
                    <option value="2">Feminino</option>
                </select>
            </div>
        </div>

    </div>
    <br />

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="US form-label"><strong>Escolaridade</strong></label>

                <select class="form-select">
                    <option selected>Escolaridade</option>
                    <option value="1">Analfabeto</option>
                    <option value="2">1° a 4° série incompleta do EF (Antigo primário ou 1° grau)</option>
                    <option value="3">4° série completa do EF (Antigo primário ou 1° grau)</option>
                    <option value="4">5° a 8° série incompleta do EF (Antigo ginásio ou 1° grau)</option>
                    <option value="5">Ensino fundamental completo (Antigo ginásio ou 1° grau)</option>
                    <option value="6">Ensino médio incompleto (Antigo colegial ou 2° grau)</option>
                    <option value="7">Ensino médio completo (Antigo colegial ou 2° grau)</option>
                    <option value="8">Educação superior incompleta</option>
                    <option value="9">Educação superior completa</option>
                    <option value="10">Menor de 6 Anos</option>
                </select>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Gestante</strong></label>

                <select class="form-select">
                    <option selected>Periodo de gestação</option>
                    <option value="1">1° Trimestre</option>
                    <option value="2">2° Trimestre</option>
                    <option value="3">3° Trimestre</option>
                    <option value="4">Idade Gestacional ignorada</option>
                    <option value="5">Não se aplica</option>
                </select>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Raça</strong></label>

                <select class="form-select">
                    <option selected>Raça</option>
                    <option value="1">Branca</option>
                    <option value="2">Preta</option>
                    <option value="3">Amarela</option>
                    <option value="4">Parda</option>
                    <option value="5">Indígena</option>
                </select>
            </div>
        </div>

        <br />
    </div>
    <br />
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Número do cartão do SUS</strong></label>
                <br />
                <input class="US" type="text">
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div id="ndiv" class="p-3 border bg-light">
                <label class="form-label"><strong>Nome da Mãe</strong></label>
                <br />
                <input class="US" type="text">
            </div>
        </div>
    </div>
    <hr />

    <h4 class="ntitle">Dados de Residência</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>UF</strong></label>

                <select class="form-select">
                    <option selected>Selecione</option>
                    <option value="1">AC</option>
                    <option value="2">AL</option>
                    <option value="3">AM</option>
                    <option value="4">AP</option>
                    <option value="5">BA</option>
                    <option value="6">CE</option>
                    <option value="7">DF</option>
                    <option value="8">ES</option>
                    <option value="9">GO</option>
                    <option value="10">MA</option>
                    <option value="11">MG</option>
                    <option value="12">MS</option>
                    <option value="13">MT</option>
                    <option value="14">PA</option>
                    <option value="15">PB</option>
                    <option value="16">PE</option>
                    <option value="17">PI</option>
                    <option value="18">PR</option>
                    <option value="19">RJ</option>
                    <option value="20">RN</option>
                    <option value="21">RO</option>
                    <option value="22">RR</option>
                    <option value="23">SC</option>
                    <option value="24">SE</option>
                    <option value="25">SP</option>
                    <option value="26">TO</option>
                </select>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Município</strong></label>
                <br />
                <input class="US" type="text" />

            </div>
        </div>
    </div>
    <br />
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Logradouro</strong></label>
                <br />
                <input type="text" />
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>CEP</strong></label>
                <br />
                <input type="text" />
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label">Telefone</label>
                <br />
                <input type="text" />
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------------>
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label">Zona</label>
                <br />
                <select class="form-select">
                    <option selected>Selecione</option>
                    <option value="1">Urbana</option>
                    <option value="2">Rural</option>
                    <option value="3">Periurbana</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="bt-container">
        <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" checked>
        <label class="btn btn-outline-danger" for="danger-outlined">Informações insuficientes</label>

        <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off">
        <label class="btn btn-outline-success" for="success-outlined">Todos os campos completos</label>
    </div>

    <hr />

    <h4 class="ntitle"> Dados Clínicos e laboratoriais</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Data da Investigação</strong></label>
                <br />
                <input class="US" type="datetime-local">
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Ocupação do paciente</strong></label>
                <br />
                <input class="US" type="text">
            </div>
        </div>
    </div>
    <br />

    <hr />

    <h4 class="ntitle">Sinais Clínicos</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbFebre">
                    <label class="form-check-label" for="fscbFebre"><strong>Febre</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbMialgia">
                    <label class="form-check-label" for="fscbMialgia"><strong>Mialgia</strong></label>
                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbCefaleia">
                    <label class="form-check-label" for="fscbCefaleia"><strong>Cefaleia</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbExantema">
                    <label class="form-check-label" for="fscbExantema"><strong>Exantema</strong></label>
                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbVomito">
                    <label class="form-check-label" for="fscbVomito"><strong>Vômito</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbNauseas">
                    <label class="form-check-label" for="fscbNauseas"><strong>Náuseas</strong></label>
                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbDnc">
                    <label class="form-check-label" for="fscbDnc"><strong>Dor nas costas</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbConjuntivite">
                    <label class="form-check-label" for="fscbConjuntivite"><strong>Conjuntivite</strong></label>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row gx-5>">
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbArtrite">
                    <label class="form-check-label" for="fscbArtite"><strong>Artrite</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbAI">
                    <label class="form-check-label" for="fscbAI"><strong>Artralgia intensa</strong></label>
                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbPetequias">
                    <label class="form-check-label" for="fscbPetequias"><strong>Petéquias</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbLeucopenia">
                    <label class="form-check-label" for="fscbleucopenia"><strong>Leucopenia</strong></label>
                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbPLP">
                    <label class="form-check-label" for="fscbPLP"><strong>Prova do laço positiva</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbDRO">
                    <label class="form-check-label" for="fscbDRO"><strong>Dor retroorbital</strong></label>
                </div>
            </div>
        </div>
    </div>

    <div class="bt-container">
        <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off" checked>
        <label class="btn btn-outline-danger" for="danger-outlined">Informações insuficientes</label>

        <input type="radio" class="btn-check" name="options-outlined" id="success-outlined" autocomplete="off">
        <label class="btn btn-outline-success" for="success-outlined">Todos os campos completos</label>
    </div>

    <hr />
    <h4 class="ntitle">Doenças pré-existentes</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbDiabetes">
                    <label class="form-check-label" for="fscbDiabetes"><strong>Diabetes</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbDhm">
                    <label class="form-check-label" for="fscbDhm"><strong>Doenças hematológicas</strong></label>
                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbHepatopatias">
                    <label class="form-check-label" for="fscbHepatopatias"><strong>Hepatopatias</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbDrc">
                    <label class="form-check-label" for="fscbDrc"><strong>Doença renal crônica</strong></label>
                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbHA">
                    <label class="form-check-label" for="fscbHA"><strong>Hipertensão arterial</strong></label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbDap">
                    <label class="form-check-label" for="fscbDap"><strong>Doença ácido-péptica</strong></label>
                </div>
            </div>
        </div>
        <!-------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbDai">
                    <label class="form-check-label" for="fscbDai"><strong>Doença auto-imune</strong></label>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <h4 class="ntitle">Dados Laboratoriais</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="fscbSCP"><strong>Sorologia (IgM) Chikungunya(primeira amostra)</strong></label>
                    <input class="form-check-input" type="checkbox" id="fscbSCP">
                </div>
                <br />
                <label class="form-label">Coleta da 1° amostra</label>
                <input type="datetime-local" />
                <select class="resultado form-select" aria-label="Default select example">
                    <option selected>Não Realizado</option>
                    <option value="1">Reagente</option>
                    <option value="2">Não reagente</option>
                    <option value="3">Inconclusivo</option>
                </select>
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="fscbSCS"><strong>Sorologia (IgM) Chikungunya(Segunda amostra)</strong></label>
                    <input class="form-check-input" type="checkbox" id="fscbSCS">
                </div>
                <br />
                <label class="form-label">Coleta da 2° amostra</label>
                <input type="datetime-local" />
                <select class="resultado form-select" aria-label="Default select example">
                    <option selected>Não Realizado</option>
                    <option value="1">Reagente</option>
                    <option value="2">Não reagente</option>
                    <option value="3">Inconclusivo</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row gx-5">
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="fscbPRNT"><strong>PRNT</strong></label>
                    <input class="form-check-input" type="checkbox" id="fscbPRNT">
                </div>
                <br />
                <label class="form-label">Coleta da amostra</label>
                <input type="datetime-local" />
                <select class="resultado form-select" aria-label="Default select example">
                    <option selected>Não Realizado</option>
                    <option value="1">Reagente</option>
                    <option value="2">Não reagente</option>
                    <option value="3">Inconclusivo</option>
                </select>
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="fscbSD"><strong>Sorologia (IgM) Dengue</strong></label>
                    <input class="form-check-input" type="checkbox" id="fscbSD">
                </div>
                <br />
                <label class="form-label">Coleta da amostra</label>
                <input type="datetime-local" />
                <select class="resultado form-select" aria-label="Default select example">
                    <option selected>Não Realizado</option>
                    <option value="1">Reagente</option>
                    <option value="2">Não reagente</option>
                    <option value="3">Inconclusivo</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row gx-5">
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="fscbNSU"><strong>NS1</strong></label>
                    <input class="form-check-input" type="checkbox" id="fscbNSU">
                </div>
                <br />
                <label class="form-label">Coleta da amostra</label>
                <input type="datetime-local" />
                <select class="resultado form-select" aria-label="Default select example">
                    <option selected>Não Realizado</option>
                    <option value="1">Reagente</option>
                    <option value="2">Não reagente</option>
                    <option value="3">Inconclusivo</option>
                </select>
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="fscbIS"><strong>Isolamento</strong></label>
                    <input class="form-check-input" type="checkbox" id="fscbIS">
                </div>
                <br />
                <label class="form-label">Coleta da amostra</label>
                <input type="datetime-local" />
                <select class="resultado form-select" aria-label="Default select example">
                    <option selected>Não Realizado</option>
                    <option value="1">Reagente</option>
                    <option value="2">Não reagente</option>
                    <option value="3">Inconclusivo</option>
                </select>
            </div>
        </div>
    </div>
    <br />

    <div class="row gx-5">
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="fscbRT"><strong>RT-PCR</strong></label>
                    <input class="form-check-input" type="checkbox" id="fscbRT">
                </div>
                <br />
                <label class="form-label">Coleta da amostra</label>
                <input type="datetime-local" />
                <select class="resultado form-select" aria-label="Default select example">
                    <option selected>Não Realizado</option>
                    <option value="1">Reagente</option>
                    <option value="2">Não reagente</option>
                    <option value="3">Inconclusivo</option>
                </select>
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="fscbSRTP"><strong>Sorotipo</strong></label>
                    <input class="form-check-input" type="checkbox" id="fscbSRTP">
                </div>
                <br />
                <br />
                <select class="resultado form-select" aria-label="Default select example">
                    <option selected>Selecione</option>
                    <option value="1">DENV 1</option>
                    <option value="2">DENV 2</option>
                    <option value="3">DENV 3</option>
                    <option value="4">DENV 4</option>
                </select>
            </div>
        </div>
    </div>
    <br />

    <hr />

    <h4 class="ntitle">Hospitalização</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="fscbHSP">
                    <label class="form-check-label" for="fscbHSP"><strong>Ocorreu Hospitalização?</strong></label>
                </div>
                <label class="form-label">Data da internação</label>
                <input type="datetime-local">
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>UF</strong></label>
                <br />
                <select class="form-select">
                    <option selected>Selecione</option>
                    <option value="1">AC</option>
                    <option value="2">AL</option>
                    <option value="3">AM</option>
                    <option value="4">AP</option>
                    <option value="5">BA</option>
                    <option value="6">CE</option>
                    <option value="7">DF</option>
                    <option value="8">ES</option>
                    <option value="9">GO</option>
                    <option value="10">MA</option>
                    <option value="11">MG</option>
                    <option value="12">MS</option>
                    <option value="13">MT</option>
                    <option value="14">PA</option>
                    <option value="15">PB</option>
                    <option value="16">PE</option>
                    <option value="17">PI</option>
                    <option value="18">PR</option>
                    <option value="19">RJ</option>
                    <option value="20">RN</option>
                    <option value="21">RO</option>
                    <option value="22">RR</option>
                    <option value="23">SC</option>
                    <option value="24">SE</option>
                    <option value="25">SP</option>
                    <option value="26">TO</option>
                </select>
            </div>

        </div>
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Município do Hospital</strong></label>
                <br />
                <br />
                <input type="text" />
            </div>
        </div>
    </div>
    <br />

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Nome do Hospital</strong></label>
                <br />
                <br />
                <input class="US" type="text" />
            </div>
        </div>
        <!---------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Telefone</strong></label>
                <br />
                <br />
                <input class="US" type="text" />
            </div>
        </div>
    </div>

    <hr />

    <h4 class="ntitle"> Conclusão</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Ocaso é autóctone do município de residência?</strong></label>
                <select class="US form-select">
                    <option selected>Sim</option>
                    <option value="1">Não</option>
                    <option value="2">Indetermindado</option>
                </select>
            </div>
        </div>
        <!----------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Bairro</strong></label>
                <br />
                <input class="US" type="text" />
            </div>
        </div>
    </div>
    <br />

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Classificação</strong></label>
                <select class="US form-select">
                    <option selected>Selecione</option>
                    <option value="1">Descartado</option>
                    <option value="2">Dengue</option>
                    <option value="3">Dengue com sinais de alarme</option>
                    <option value="4">Dengue grave</option>
                    <option value="5">Chikungunya</option>
                </select>
            </div>
        </div>
        <!----------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Critério de Confirmação/Descarte</strong></label>
                <select class="US form-select">
                    <option selected>Selecione</option>
                    <option value="1">Clínico</option>
                    <option value="2">Epidemologico</option>
                    <option value="3">Em investigação</option>
                </select>
            </div>
        </div>
    </div>

    <br />

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Evolução do caso</strong></label>
                <select class="US form-select">
                    <option selected>Selecione</option>
                    <option value="1">Cura</option>
                    <option value="2">Óbito pelo agravo</option>
                    <option value="3">Óbito por outras causas</option>
                    <option value="3">Óbito em investigação</option>
                </select>
            </div>
        </div>
        <!----------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label">Data do óbito</label>
                <input type="datetime-local">
            </div>
        </div>
        <!----------------------------------------------------->
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label">Data do encerramento</label>
                <input type="datetime-local">
            </div>
        </div>
    </div>

    <hr />
    <h4 class="ntitle">Dados clínicos - Dengue com sinais de Alarme e Dengue Grave</h4>

    <br />

    <div class="ntitle"><label>Data de início dos sinais de gravidade</label>&nbsp;&nbsp;&nbsp;<input type="datetime-local" /></div>

    <br />

    <div class="row gx-5">
        <div class="row gx-5 p-3 border bg-light">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="fscbdsa">
                <label class="form-check-label" for="fscbdsa"><strong>Dengue com sinais de alarme</strong></label>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbhpl">
                    <label class="form-check-label" for="cbhpl">Hipotensão postural e/ou lipotímia</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbqap">
                    <label class="form-check-label" for="cbqap">Queda abrupta de plaquetas</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbvp">
                    <label class="form-check-label" for="cbvp">Vômitos persistentes</label>
                </div>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbda">
                    <label class="form-check-label" for="cbda">Dor abdominal intensa e contínua</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbli">
                    <label class="form-check-label" for="cbli">Letargia ou irritabilidade</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbsmo">
                    <label class="form-check-label" for="cbsmo">Sangramento de mucosa/outras hemorragias</label>
                </div>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbaph">
                    <label class="form-check-label" for="cbaph">Aumento progressivo de hematócrito</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbhpmg">
                    <label class="form-check-label" for="cbhpmg">Hepatomegalia maior ou igual a 2cm</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbal">
                    <label class="form-check-label" for="cbal">Aumento de líquidos</label>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row gx-5">
        <div class="row gx-5 p-3 border bg-light">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="fscbdgd">
                <label class="form-check-label" for="fscbdgd"><strong>Dengue Grave</strong></label>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="col">
                <label><strong>Extravasamento Grave de plasma:</strong></label>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbpdi">
                    <label class="form-check-label" for="cbpdi">Pulso débil ou indetectável</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbpac">
                    <label class="form-check-label" for="cbpac">PA convergente <=20mmHg</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbtec">
                    <label class="form-check-label" for="cbtec">Tempo de enchimento capilar</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbalir">
                    <label class="form-check-label" for="cbalir">Acúmulo de líquidos com insuficiência repiratória</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbtq">
                    <label class="form-check-label" for="cbtq">Taquicardia</label>
                </div>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbef">
                    <label class="form-check-label" for="cbef">Extremidades frias</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbhaft">
                    <label class="form-check-label" for="cbhaft">Hipotensão arterial em fase tardia</label>
                </div>
                <!-------------------------------------------------------------------------->
                <label><strong>Sangramento Grave:</strong></label>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbhmtms">
                    <label class="form-check-label" for="cbhmtms">Hematêmese</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbmln">
                    <label class="form-check-label" for="cbmln">Melena</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbmv">
                    <label class="form-check-label" for="cbmv">Metrorragia volumosa</label>
                </div>
            </div>
            <!-------------------------------------------------------------------------->
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbssnc">
                    <label class="form-check-label" for="cbssnc">Sangramento do SNC</label>
                </div>
                <!-------------------------------------------------------------------------->
                <label><strong>Comprometimento grave de órgãos</strong></label>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbaam">
                    <label class="form-check-label" for="cbaam">AST/ALT>1000</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbmcd">
                    <label class="form-check-label" for="cbmcd">Miocardite</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cbadc">
                    <label class="form-check-label" for="cbadc">Alteração da consciência</label>
                </div>
                <!-------------------------------------------------------------------------->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="cboo">
                    <label class="form-check-label" for="cboo">Outros Orgãos(especifique)</label>
                    <input type="text" />
                </div>
            </div>
        </div>
    </div>

    <hr />

    <h4 class="ntitle bg-dark text-white">Informações complementares e observações</h4>
    <br />
    <form class="row g-3">

        <div class="col-md-4 border">
            <label><strong>Classificação do paciente</strong></label>
        </div>

        <div class="col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbga">
                <label class="form-check-label" for="cbga">
                    Grupo A
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbgb">
                <label class="form-check-label" for="cbgb">
                    Grupo B
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbgc">
                <label class="form-check-label" for="cbgc">
                    Grupo C
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-2">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbgd">
                <label class="form-check-label" for="cbgd">
                    Grupo D
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-4 border">
            <label><strong>Viajou nos ultimos 15 dias?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbsu">
                <label class="form-check-label" for="cbsu">
                    Sim
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbnu">
                <label class="form-check-label" for="cbnu">
                    Não
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-3 border">
            <label><strong>Para onde?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-3">
            <input type="text" />
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-3 border">
            <label><strong>Ida:</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-2">
            <input type="datetime-local" />
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">

        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-3 border">
            <label><strong>Retorno:</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-2">
            <input type="datetime-local" />
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-6 border">
            <label><strong>Recebeu visita de pessoas da área endêmica/epidêmica?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbsd">
                <label class="form-check-label" for="cbsd">
                    Sim
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbnd">
                <label class="form-check-label" for="cbnd">
                    Não
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1 border">
            <label><strong>Qual?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-3">
            <input type="text" />
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-9 border">
            <label><strong>Tem conhecimento de casos semelhantes na área em que reside?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbst">
                <label class="form-check-label" for="cbst">
                    Sim
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbnt">
                <label class="form-check-label" for="cbnt">
                    Não
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-6 border">
            <label><strong>O paciente utiliza medicamnento de uso contínuo?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbsqa">
                <label class="form-check-label" for="cbsqa">
                    Sim
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbnqa">
                <label class="form-check-label" for="cbnqa">
                    Não
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1 border">
            <label><strong>Qual?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-3">
            <input type="text" />
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-6 border">
            <label><strong>Paciente foi encaminhado para outro serviço de saúde?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbsqi">
                <label class="form-check-label" for="cbsqi">
                    Sim
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cbnqi">
                <label class="form-check-label" for="cbnqi">
                    Não
                </label>
            </div>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-1 border">
            <label><strong>Qual?</strong></label>
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="col-md-3">
            <input type="text" />
        </div>
        <!-------------------------------------------------------------------------------->
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="fipm" placeholder="Qual o motivo do encaminhamento?">
            <label for="fipm"><strong>Qual o motivo do encaminhamento?</strong></label>
        </div>
    </form>

    <h4 class="ntitle">Investigador</h4>

    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Unidade de Saúde</strong></label>
                <br />
                <input class="US" type="text">
            </div>
        </div>

        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>Nome</strong></label>
                <br />
                <input type="text">
            </div>
        </div>

        <div class="col">
            <div class="p-3 border bg-light">
                <label class="form-label"><strong>função</strong></label>
                <br />
                <input type="text">
            </div>
        </div>
    </div>
</div>

