@page
@model long
@{
    ViewBag.Title = "404 Error";
}
<div class="alert alert-danger mt-auto">
    <h2>Erro 404 Not Found :</h2>
    <hr />
    <h4>
        O Paciente do cartão sus deste numero não foi encontrado
    </h4>
</div>
<a asp-controller="Pacientes" asp-action="pIndex" class="btn btn-outline-success" style="width:auto">Clique aqui para ver a lista dos pacientes</a>