footer {
    text-align: center;
}

.ntitle {
    text-align: center;
}

.US {
    width: 475px;
}

.p-3 {
    min-height: 120px;
}

.bt-container {
    text-align: center;
}

.resultado {
    width: 340px;
}

.table {
    display:block;
    overflow-x:scroll;
    border:1px;
    width:100%;
}

input, th, td, dd{
    text-transform:uppercase;
}

.usu{
    text-transform:none;
    text-align:center;
}

.pass{
    text-transform:none;
    text-align: center;
}



