@model ErrorViewModel

<h1 class="text-danger">Erro</h1>
<p class="lead">@Model.Message</p>

@if (Model.ShowRequestId)
{
    <p>
        Detalhes do erro: <strong>@Model.RequestId</strong>
    </p>
    <p><strong>Message:</strong> @Model.Message</p>
    <p><strong>Stack Trace:</strong> @Model.StackTrace</p>
}