@model Sinan.Models.Usuario

@{
    ViewData["Title"] = "Create";
}
<hr />
<div class="form-box text-center border border-5">
    <div class="form-value">
        <form asp-action="Create">
            <h2>Cadastrar</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Username" class="usu" placeholder="Usuário"/>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Password" type="password" class="pass" placeholder="Senha"/>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Adm" /> @Html.DisplayNameFor(model => model.Adm)
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </form>
    </div>
</div>

<div class="form-group">
    <button class="btn btn-secondary" asp-action="Index">Voltar</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
