@model Sinan.Models.Usuario

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />
<div class="form-box text-center border border-5">
    <div class="form-value">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsu" />
            <div class="form-group">
                <input asp-for="Username" class="usu" placeholder="Usuário"/>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input asp-for="Password" type="password" class="pass" placeholder="Senha"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Adm" /> @Html.DisplayNameFor(model => model.Adm)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
